<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="utf-8">
  <title>Науковий образ світу</title>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Науковий образ світу" />
  <meta property="og:description" content="База знань курсу «Науковий образ світу»" />
  <meta property="og:url" content="https://scientific-image.bogdanovych.org/" />
  <meta property="og:image" content="https://scientific-image.bogdanovych.org/static/images/vysotskyi-2.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Науковий образ світу" />
  <meta name="twitter:description" content="База знань курсу «Науковий образ світу»" />
  <meta name="twitter:image" content="https://scientific-image.bogdanovych.org/static/images/vysotskyi-2.png" />

  <!-- Redirects -->
  <meta http-equiv="refresh" content="0; url=wiki/">
  <script>window.location.replace("wiki/")</script>
</head>
<body>
  <p>Завантаження... Якщо вас не перенаправило автоматично, <a href="wiki/">перейдіть за цим посиланням</a>.</p>
</body>
</html>
